# 使用nba_api取得比賽數據

In [1]:
from nba_api.stats.endpoints import PlayerGameLog
import pandas as pd
from nba_api.stats.static import players
import time

# 找出球員資料

In [2]:
all_players = players.get_players()
columns_p = [k for k in all_players[0].keys()]
rows_p = []
for player in all_players:
    rows_p.append([v for v in player.values()])
df_all_player = pd.DataFrame(data = rows_p, columns = columns_p)
df_all_player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

# 建立球員比賽數據dataframe

In [3]:
columns = ['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL','MIN', 'FGM', 'FGA', 
           'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA','FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 
            'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE']
rows = []
Player_game = pd.DataFrame(data = rows, columns = columns)
Player_game

Empty DataFrame
Columns: [SEASON_ID, Player_ID, Game_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, PLUS_MINUS, VIDEO_AVAILABLE]
Index: []

[0 rows x 27 columns]

# 利用得到的球員id抓取其2013-2018球季的比賽數據

In [1]:
seasons = []
for i in range(2013, 2019):
    seasons.append(i)

In [14]:
for Pid in df_all_player["id"]:
    for season in seasons: 
        game = PlayerGameLog(player_id=Pid, season=season, timeout = 3000)
        gamelog = game.get_data_frames()[0]
        Player_game = pd.concat([Player_game, gamelog], ignore_index=True, axis=0, sort=False)

In [15]:
pd.set_option("display.max_columns", None)
Player_game

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22013,203112,0021301229,"APR 16, 2014",SAC vs. PHX,L,25,3,6,0.500,0,1,0.0,3,5,0.6,5,3,8,1,1,0,2,3,9,-13,1
1,22013,203112,0021301202,"APR 13, 2014",SAC vs. MIN,W,13,2,2,1.000,0,0,0.0,0,0,0.0,1,1,2,0,0,0,0,4,4,-6,1
2,22013,203112,0021301189,"APR 12, 2014",SAC @ LAC,L,0,0,0,0.000,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,1
3,22013,203112,0021301172,"APR 09, 2014",SAC @ POR,L,9,1,1,1.000,0,0,0.0,2,2,1.0,0,0,0,0,1,0,0,2,4,2,1
4,22013,203112,0021301160,"APR 08, 2014",SAC vs. OKC,L,17,3,5,0.600,0,1,0.0,0,1,0.0,1,2,3,0,0,1,0,1,6,-8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25613,22013,203092,0021300066,"NOV 06, 2013",CLE @ MIL,L,2,0,0,0.000,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,1,0,-2,1
25614,22013,203092,0021300047,"NOV 04, 2013",CLE vs. MIN,W,1,0,0,0.000,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,1,0,-2,1
25615,22013,203092,0021300033,"NOV 02, 2013",CLE @ IND,L,18,2,3,0.667,0,0,0.0,2,2,1.0,0,3,3,0,0,1,1,3,6,-8,1
25616,22013,203092,0021300020,"NOV 01, 2013",CLE @ CHA,L,9,0,2,0.000,0,0,0.0,0,0,0.0,1,1,2,0,1,0,0,3,0,-3,1
25617,22013,203092,0021300004,"OCT 30, 2013",CLE vs. BKN,W,4,0,0,0.000,0,0,0.0,0,0,0.0,0,0,0,0,0,0,1,1,0,-2,1

# 儲存檔案

In [16]:
Player_game.to_csv(r'D:/Player_game.csv', index = False)